<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Index.ejs</h1>
    
    <h1>Please login to your account</h1>
    <form action="/login" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password</label>
        <input type="text" id="password" name="password" required>
        <input type="submit" value="login">    
    </form>    
</body>
</html>
