<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Admin Dashboard</h1>
    <ul>
      <li><a href="/admin/view">Vis Alle XML</a></li>
      <li><a href="/admin/upload">Upload XML</a></li>
    </ul>
  </body>
</html>
