<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Upload XML</title>
  </head>
  <body>
    <h1>Upload XML Fil</h1>
    <form action="/admin/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="xmlfile" />
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
